* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --inputfieldcolor: #f8fafc;
  --border-radius: 0.25rem;
  --bodyFont: "Cabin", Sans-Serif;
  --grey-900: #102a43;
  --grey-600: #cbd0dd;
  --grey-300: #9fb3c8;

  --textColor: var(--grey-900);
  --primary-color: #589dfb;
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(../public/font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppins-regular";
  src: url(../public/font/Poppins-Regular.ttf);
}
body {
  background-color: #eaeaea;
  font-family: var(--bodyFont);
  line-height: 1.75;
  color: var(--textColor);
}
.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  background-color: var(--inputfieldcolor);
  border: 1px solid #cbd5e1;
  color: black;
}
.fullWidth {
  width: 100%;
}
.container-full-width-height {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9c1ff;
}
.reset-btn {
  outline: none;
  border: none;
  cursor: pointer;
}
.logoutBtn {
  border: none;
  background-color: var(--main-blue);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.profileImg {
  border-radius: 20px;
}
.required {
  color: red;
  margin-right: 3px;
}
.dropdown {
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100%;
  background: var(--primary-color);
  box-shadow: var(--shadow-2);
  padding: 0.5rem;
  text-align: center;
  visibility: hidden;
  border-radius: var(--border-radius);
}
.show-dropdown {
  visibility: visible;
}
.dropdown-btn {
  background: transparent;
  border-color: transparent;
  color: white;
  padding: 0.5rem;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  cursor: pointer;
}
.btn-container {
  position: relative;
  /* cursor: pointer; */
}
.active {
  background-color: var(--primary-color) !important;
}
.nav-link {
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--grey-500);
  padding: 1rem 0;
  margin: 1rem 0rem;
  /* padding-left: 2.5rem; */
  text-transform: capitalize;
  transition: var(--transition);
}
.nav-link:hover {
  background: var(--grey-50);
  color: var(--grey-900);
}
.nav-link:hover .icon {
  color: var(--primary-500);
}
.icon {
  color: white;
}
.sidebarBody {
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
p {
  margin: 0rem !important;
}
.custom-btn {
  background-color: #589dfb;
  /* width: fit-content; */
  padding: 0.3rem 3rem;
  font-weight: 800;
  color: white;
  border-radius: 10px;
}
.header p {
  font-size: 24px;
  font-weight: 700;
}

/* overlay */
.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.trueWindow {
  opacity: 1;
  visibility: visible;
  overflow: scroll;
}
.falseWindow {
  opacity: 0;
  visibility: hidden;
}
.addMemberWindow {
  position: fixed;
  z-index: 998;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%;
  height: 90%;
  padding: 1rem 2rem;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border-radius: 10px;
  overflow: auto;
}
.closeIcon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
}
.createBtn {
  margin-top: 1rem;
  border: none;
  padding: 1rem;
  background: linear-gradient(to right, #2983be, #2978b9);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 400;
}
.customBtn {
  padding: 0.3rem 0.3rem;
  color: var(--grey-700);
  border: none;
  outline: none;
}
.select {
  border-radius: 5px;
  border: 1px solid var(--grey-300) !important;
  margin-left: 0.5rem;
}
.animatedBtn:hover {
  animation: scaleUp 1s ease-in-out;
  transform: scale(1.03);
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}
.mybtn {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.secBtn {
  background-color: var(--primary-color);
  color: white;
  /* filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25)); */
}
.thirdBtn {
  background-color: #fb6c58;
  color: white;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  /* filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25)); */
}
.inputDiv {
  margin: 0.5rem 0rem;
}
.horaLogoHeader {
  /* font-family: var(--bodyFont); */
  font-weight: 700;
}
.horaLogoImg {
  width: 36px;
  height: 36px;
}
.deleteBtn {
  background: #fb6c58 !important;
  margin-left: 1rem;
}
