* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --inputfieldcolor: #f8fafc;
  --border-radius: 0.25rem;
  --bodyFont: "Cabin", Sans-Serif;
  --grey-900: #102a43;
  --grey-600: #cbd0dd;
  --grey-300: #9fb3c8;
  --grey-100: #818181;

  --textColor: var(--grey-900);
  --primary-color: #589dfb;
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(../public/font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppins-regular";
  src: url(../public/font/Poppins-Regular.ttf);
}
body {
  background-color: #eaeaea;
  font-family: var(--bodyFont);
  line-height: 1.75;
  color: var(--textColor);
}
.loading {
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 2s linear infinite;
}
.loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  background-color: var(--inputfieldcolor);
  border: 1px solid #cbd5e1;
  color: black;
}
.fullWidth {
  width: 100%;
}
.container-full-width-height {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9c1ff;
}
.reset-btn {
  outline: none;
  border: none;
  cursor: pointer;
}
.logoutBtn {
  border: none;
  background-color: var(--main-blue);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.w-100 {
  width: 100%;
}
.profileImg {
  border-radius: 20px;
}
.required {
  color: red;
  margin-right: 3px;
}
.dropdown {
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100%;
  max-width: 100px;
  background: var(--primary-color);
  box-shadow: var(--shadow-2);
  padding: 0.5rem;
  text-align: center;
  visibility: hidden;
  border-radius: var(--border-radius);
}
.back-arrow {
  cursor: pointer;
  margin-bottom: 1rem;
}
.show-dropdown {
  visibility: visible !important;
}
.dropdown-btn {
  background: transparent;
  border-color: transparent;
  color: white;
  padding: 0.5rem;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  cursor: pointer;
}
.btn-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0rem 0.3rem;
}
.active {
  background-color: var(--primary-color) !important;
}
.nav-link {
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--grey-500);
  padding: 1rem 0;
  margin: 1rem 0rem;
  /* padding-left: 2.5rem; */
  text-transform: capitalize;
  transition: var(--transition);
}
.nav-link:hover {
  background: var(--grey-50);
  color: var(--grey-900);
}
.lang-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: white;
  padding: 0.8rem;
  position: absolute;
  right: 0px;
  transform: translateX(-25%);
  width: fit-content;
  box-shadow: var(--shadow-2);
  text-align: center;
  visibility: hidden;
  border-radius: var(--border-radius);
  z-index: 99;
}
.lang-icon {
  display: flex;
  cursor: pointer;
}
.lang-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
}
.lang-btn:hover {
  color: var(--primary-color);
}
.nav-link:hover .icon {
  color: var(--primary-500);
}
.icon {
  color: white;
}
.sidebarBody {
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
p {
  margin: 0rem !important;
}
.custom-btn {
  background-color: #589dfb;
  /* width: fit-content; */
  padding: 0.3rem 3rem;
  font-weight: 800;
  color: white;
  border-radius: 10px;
}
.header p {
  font-size: 24px;
  font-weight: 700;
}
/* searchbar */
.searchbar-inner-container {
  height: 100%;
  margin-right: 1rem;
  flex: 1;
}

.searchbar-input {
  padding: 20px;
  border: none;
  border-radius: 12px;
  width: 100%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  outline: none;
}
/* modal */
.modalHeader {
  font-size: 1.4rem;
  font-weight: 500;
}
.addMemberWindow {
  padding: 2rem;
}
.modalDiv {
  margin: 1.5rem 0rem;
}
.modalInput {
  border: none !important;
  outline: none;
  background-color: transparent !important;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--grey-600) !important;
  padding: none !important;
  margin: 0.5rem 0rem !important;
}
.modalInput1 {
  border: none !important;
  outline: none;
  background-color: transparent !important;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--grey-600) !important;
  margin: 0.5rem 0rem !important;
  border-radius: 5px;
  padding: 0.3rem;
  width: 100%;
}
.modalDatePart {
  width: 100%;
  display: flex;
  gap: 10px;
}
.sidebar-left-column {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.dashboard-right-column {
  width: 85vw;
  max-height: 100vh;
  margin-left: 20px;
  overflow: hidden;
}

/* layout */
.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #eaeaea;
  height: 100vh;
}
.searchbar-container {
  height: fit-content;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-name-container h3 {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-right: 0.3rem;
  font-family: "poppins-regular", sans-serif;
  color: #000000;
}

.user-name-container a {
  font-size: 18px;
  padding: 10px;
  border-radius: 12px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  /* background-color: #ffffff; */
  color: #000000;
}
.user-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* overlay */
.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.trueWindow {
  opacity: 1;
  visibility: visible;
  overflow: scroll;
}
.falseWindow {
  opacity: 0;
  visibility: hidden;
}
.addMemberWindow {
  position: fixed;
  z-index: 998;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%;
  height: 90%;
  padding: 1rem 2rem;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border-radius: 10px;
  overflow: auto;
}
.closeIcon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
}
.btnContainer {
  display: flex;
}
.createBtn {
  margin-top: 1rem;
  border: none;
  padding: 1rem;
  background: linear-gradient(to right, #2983be, #2978b9);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 400;
}
.customBtn {
  padding: 0.3rem 0.3rem;
  color: var(--grey-700);
  border: none;
  outline: none;
}
.select {
  border-radius: 5px;
  border: 1px solid var(--grey-300) !important;
  margin-left: 0.5rem;
}
.animatedBtn:hover {
  animation: scaleUp 1s ease-in-out;
  transform: scale(1.03);
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}
.mybtn {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.secBtn {
  background-color: var(--primary-color);
  color: white;
  /* filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25)); */
}
.thirdBtn {
  background-color: #fb6c58;
  color: white;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  /* filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25)); */
}
.inputDiv {
  margin: 0.5rem 0rem;
}
.horaLogoHeader {
  /* font-family: var(--bodyFont); */
  font-weight: 700;
}
.horaLogoImg {
  width: 36px;
  height: 36px;
}
.deleteBtn {
  background: #fb6c58 !important;
  margin-left: 1rem;
}
.cancleBtn {
  margin-left: 1rem;
  background: #c95049 !important;
}
.addBtn {
  padding: 0.4rem 3rem !important;
}
/* phone number */
.react-tel-input .form-control {
  width: 100%;
}
.react-tel-input {
  margin: 0.5rem 0rem !important;
}
.form-control {
  padding: 10.5px 14px 10.5px 58px !important;
}
.buttonContainer {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
/* calendar */
.fc-button-group {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .addMemberWindow {
    width: 90% !important;
  }
  .name {
    max-width: 50px;
    overflow: hidden;
  }
  .dashboard-container {
    grid-template-columns: 1fr;
  }
  .sidebar-left-column {
    background-color: transparent !important;
    width: 100% !important;
    margin-left: 0rem;
  }
  .sidebar-left-column {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 90%;
    background-color: #161a1d;
    border-radius: 20px;
    margin-top: 0rem;
  }
  .dashboard-right-column {
    width: auto;
    margin-left: 0rem;
    padding: 0rem 2rem;
  }
  .dashboard-right-column {
    overflow: auto;
  }
  .right-container-forget-password {
    display: none;
  }
  .deleteBtn {
    margin-left: 0rem !important;
  }
  .buttonContainer {
    flex-direction: column;
  }
  .sidebarBody {
    width: 100%;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
  }
}
