.appointment-card {
    width: 430px;
    height: 150px;
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.card-leftside{
    float: left;
    width: 40%;
    height: 100%;
    background-color: #589DFB;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 20px;
}

.card-rightside{
    float: right;
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.card-rightside .arrow-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: #363636;
}
  
  .appointment-title {
    font-size: 18px;
    font-family: 'poppins-regular', sans-serif;
    margin-bottom: 15px;
    color: #f8f8f8;
  }
  .appointment-date,
  .appointment-time{
    font-family: 'poppins-regular', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    color: #f8f8f8;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
.appointment-name{
    font-family: 'poppins-semibold', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;

}
.appointment-description {
    font-family: 'poppins-regular', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    color: black;
}
  