.searchbar-inner-container {
  height: 100%;
  margin-right: 1rem;
  flex: 1;
}

.searchbar-input {
  padding: 20px;
  border: none;
  border-radius: 12px;
  width: 100%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  outline: none;
}
