.modalHeader {
  font-size: 1.4rem;
  font-weight: 500;
}
.addMemberWindow {
  padding: 2rem;
}
.modalDiv {
  margin: 1.5rem 0rem;
}
.modalInput {
  border: none !important;
  outline: none;
  background-color: transparent !important;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--grey-600) !important;
  padding: none !important;
  margin: 0.5rem 0rem !important;
}
.modalInput1 {
  border: none !important;
  outline: none;
  background-color: transparent !important;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--grey-600) !important;
  margin: 0.5rem 0rem !important;
  border-radius: 5px;
  padding: 0.3rem;
  width: 100%;
}
.modalDatePart {
  width: 100%;
  display: flex;
  gap: 10px;
}
@media (max-width: 768px) {
  .addMemberWindow {
    width: 90% !important;
  }
}
